body {
    color: rgb(248, 8, 228);
    background: black;
}

header {

}

header {
    border: solid 2px rgb(245, 5, 5);
}

header {
    border: solid 2px rgb(249, 228, 4);
}
header {
    border-bottom: solid 2px rgb(42, 122, 228);
}

body {
    color: rgb(245, 3, 128);
    background: rgb(18, 238, 7);
    margin: 0px;
}
